<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709565723371-of7ivki8m4p9ud7tppe28lm4v2vn26s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709565723371-of7ivki8m4p9ud7tppe28lm4v2vn26s2</string>
	<key>API_KEY</key>
	<string>AIzaSyDO2SgTEP2SdtSaZb73LRz5m2kA0pk1mwg</string>
	<key>GCM_SENDER_ID</key>
	<string>709565723371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mini-project-mai.Tweet-Me</string>
	<key>PROJECT_ID</key>
	<string>tweetme-56ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>tweetme-56ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709565723371:ios:508084f16afcfcfcf484ae</string>
</dict>
</plist>